<nav class="side-nav">
    <a href="/dashboard" class="intro-x flex items-center pl-5 pt-4 mt-3">
        <img alt="Midone - HTML Admin Template" class="w-6" src="dist/images/logo.svg">
        <span class="hidden xl:block text-white text-lg ml-3">Research Dv</span>
    </a>
    <div class="side-nav__devider my-6"></div>
    <ul>
        <li>
            <a href="/dashboard" class="side-menu">
                <div class="side-menu__icon"> <i data-lucide="home"></i> </div>

                <div class="side-menu__title">
                    Dashboard
                    <!-- <div class="side-menu__sub-icon transform rotate-180"> <i data-lucide="chevron-down"></i> </div> -->
                </div>
            </a>
        </li>
        <li>
            <a href="/createProject" class="side-menu ">
                <div class="side-menu__icon"> <i data-lucide="edit"></i> </div>

                <div class="side-menu__title">
                    Create Project
                    <!-- <div class="side-menu__sub-icon transform rotate-180"> <i data-lucide="chevron-down"></i> </div> -->
                </div>
            </a>
        </li>
        <li>
            <a href="/viewDatasets" class="side-menu ">
                <div class="side-menu__icon"> <i data-lucide="box"></i> </div>

                <div class="side-menu__title">
                    Datasets
                    <!-- <div class="side-menu__sub-icon transform rotate-180"> <i data-lucide="chevron-down"></i> </div> -->
                </div>
            </a>
        </li>
        <li>
            <a href="/myProjects" class="side-menu ">
                <div class="side-menu__icon"> <i data-lucide="layout"></i> </div>

                <div class="side-menu__title">
                    My Projects
                    <!-- <div class="side-menu__sub-icon transform rotate-180"> <i data-lucide="chevron-down"></i> </div> -->
                </div>
            </a>
        </li>
        
        <!-- <li>
            <a href="/trainModels" class="side-menu">
                <div class="side-menu__icon"> <i data-lucide="sidebar"></i> </div>

                <div class="side-menu__title">
                    Train Models
                    
                </div>
            </a>
        </li> -->
    </ul>
</nav>