<!DOCTYPE html>
<html lang="en" class="dark">
  <!-- BEGIN: Head -->

  <head>
    <meta charset="utf-8" />
    <link href="dist/images/logo.svg" rel="shortcut icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Tinker admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities."
    />
    <meta
      name="keywords"
      content="admin template, Tinker Admin Template, dashboard template, flat admin template, responsive admin template, web app"
    />
    <meta name="author" content="LEFT4CODE" />
    <title>Research Dv</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="dist/css/app.css" />
    <!-- END: CSS Assets-->
  </head>
  <!-- END: Head -->
  <style>
    #file-name {
      font-size: 21px;
      color: #222222;
    }

    .upload-dataset-btn {
      width: fit-content;
      margin-top: 20px;
      padding: 7px;
      color: white;
      padding-left: 14px;
      padding-right: 14px;
      font-weight: 500;
      border-radius: 6px;
      background-color: #17d0d9 !important;
    }

    .upload-dataset-btn:hover {
      background-color: #096166 !important;
    }
  </style>

  <body class="py-5 md:py-0 bg-black/[0.15] dark:bg-transparent">
    <!-- BEGIN: Mobile Menu -->
    <div class="mobile-menu md:hidden">
      <div class="mobile-menu-bar">
        <a href="" class="flex mr-auto">
          <img
            alt="Midone - HTML Admin Template"
            class="w-6"
            src="dist/images/logo.svg"
          />
        </a>
        <a href="javascript:;" class="mobile-menu-toggler">
          <i
            data-lucide="bar-chart-2"
            class="w-8 h-8 text-white transform -rotate-90"
          ></i>
        </a>
      </div>
      <div class="scrollable">
        <a href="javascript:;" class="mobile-menu-toggler">
          <i
            data-lucide="x-circle"
            class="w-8 h-8 text-white transform -rotate-90"
          ></i>
        </a>
        <ul class="scrollable__content py-2">
          <li>
            <a href="javascript:;.html" class="menu menu--active">
              <div class="menu__icon"><i data-lucide="home"></i></div>
              <div class="menu__title">
                Dashboard
                <i
                  data-lucide="chevron-down"
                  class="menu__sub-icon transform rotate-180"
                ></i>
              </div>
            </a>
            <ul class="menu__sub-open">
              <li>
                <a href="side-menu-dark-dashboard-overview-1.html" class="menu">
                  <div class="menu__icon"><i data-lucide="activity"></i></div>
                  <div class="menu__title">Overview 1</div>
                </a>
              </li>
              <li>
                <a
                  href="side-menu-dark-dashboard-overview-2.html"
                  class="menu menu--active"
                >
                  <div class="menu__icon"><i data-lucide="activity"></i></div>
                  <div class="menu__title">Overview 2</div>
                </a>
              </li>
              <li>
                <a href="side-menu-dark-dashboard-overview-3.html" class="menu">
                  <div class="menu__icon"><i data-lucide="activity"></i></div>
                  <div class="menu__title">Overview 3</div>
                </a>
              </li>
              <li>
                <a href="side-menu-dark-dashboard-overview-4.html" class="menu">
                  <div class="menu__icon"><i data-lucide="activity"></i></div>
                  <div class="menu__title">Overview 4</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- END: Mobile Menu -->
    <div class="flex mt-[4.7rem] md:mt-0 overflow-hidden">
      <!-- BEGIN: Side Menu -->
      <%- include('./components/navBar') %>
      <!-- END: Side Menu -->
      <!-- BEGIN: Content -->
      <div style="background: #f1f5f9" class="content">
        <!-- BEGIN: Top Bar -->
        <div class="top-bar -mx-4 px-4 md:mx-0 md:px-0">
          <!-- BEGIN: Breadcrumb -->
          <nav
            aria-label="breadcrumb"
            class="-intro-x mr-auto hidden sm:flex"
          ></nav>

          <!-- BEGIN: Account Menu -->
          <div class="intro-x dropdown w-8 h-8">
            <div
              class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in"
              role="button"
              aria-expanded="false"
              data-tw-toggle="dropdown"
            >
              <img
                alt="Midone - HTML Admin Template"
                src="./images/profile-icon.png"
              />
            </div>
            <div class="dropdown-menu w-56">
              <ul class="dropdown-content bg-primary text-white">
                <li class="p-2">
                  <div class="font-medium">Username</div>
                  <div class="text-xs text-white/70 mt-0.5 dark:text-slate-500">
                    Title
                  </div>
                </li>
                <li>
                  <hr class="dropdown-divider border-white/[0.08]" />
                </li>
                <li>
                  <a href="" class="dropdown-item hover:bg-white/5">
                    <i data-lucide="user" class="w-4 h-4 mr-2"></i> Profile
                  </a>
                </li>

                <li>
                  <a href="" class="dropdown-item hover:bg-white/5">
                    <i data-lucide="lock" class="w-4 h-4 mr-2"></i> Reset
                    Password
                  </a>
                </li>

                <li>
                  <hr class="dropdown-divider border-white/[0.08]" />
                </li>
                <li>
                  <a href="/" class="dropdown-item hover:bg-white/5">
                    <i data-lucide="toggle-right" class="w-4 h-4 mr-2"></i>
                    Logout
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END: Account Menu -->
        </div>
        <!-- END: Top Bar -->
        <div class="grid gap-6">
          <div class="col-span-12 2xl:col-span-9">
            <div class="">
              <div class="col-span-12 lg:col-span-8 xl:col-span-6 mt-2">
                <div class="intro-y block sm:flex items-center h-10">
                  <h2 class="font-bold mr-5 text-2xl truncate text-slate-800">
                    Upload Dataset
                  </h2>
                </div>

                <style>
                  input[type="file"]::file-selector-button {
                    border-radius: 4px;
                    padding: 0 16px;
                    height: 40px;
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid rgba(0, 0, 0, 0.16);
                    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
                    margin-right: 16px;
                    transition: background-color 200ms;
                  }

                  /* file upload button hover state */
                  input[type="file"]::file-selector-button:hover {
                    background-color: #f3f4f6;
                  }

                  /* file upload button active state */
                  input[type="file"]::file-selector-button:active {
                    background-color: #e5e7eb;
                  }
                </style>
                <div
                  style="gap: 200px"
                  class="flex items-center justify-center w-full drag-drop-div"
                >
                  <label
                    style="background: rgb(216, 225, 247); color: #222222"
                    for="dropzone-file"
                    class="mt-5 flex flex-col items-center justify-center w-2/5 h-64 border-2 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                  >
                    <div
                      class="flex flex-col items-center justify-center pt-5 pb-6"
                    >
                      <svg
                        class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 20 16"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                        />
                      </svg>
                      <p id="file-name" class="mb-2 text-sm">
                        <span class="font-semibold">Click to upload</span> or
                        drag and drop
                      </p>
                      <p class="text-sm text-gray-500 dark:text-gray-400">
                        please upload only zip / rar / 7zip file
                      </p>
                    </div>
                    <input
                      id="dropzone-file"
                      type="file"
                      class="hidden fileInput"
                      accept=".zip,.rar,.7zip"
                      onchange="displayFileName(event)"
                    />
                    <p id="loadingMessage" style="display: none">
                      Loading please wait ...
                    </p>
                    <button class="upload-dataset-btn" onclick="uploadData()">
                      Upload
                    </button>
                  </label>
                </div>

                <script>
                  function displayFileName(event) {
                    const input = event.target;
                    if (input.files.length > 0) {
                      const fileName = input.files[0].name;
                      document.getElementById(
                        "file-name"
                      ).innerHTML = `<span class="font-semibold">File uploaded:</span> ${fileName}`;
                    }
                  }

                  const dropZone2 = document.querySelector(".drag-drop-div");

                  dropZone2.addEventListener("dragover", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                  });

                  dropZone2.addEventListener("drop", function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    const files = e.dataTransfer.files;
                    if (files.length > 0) {
                      const fileName = files[0].name;
                      document.getElementById(
                        "file-name"
                      ).innerHTML = `<span class="font-semibold">File uploaded:</span> ${fileName}`;
                    }
                  });
                </script>

                <div class="w-container">
                  <script>
                    let isLoading = false;

                    function uploadData() {
                      console.log("called");
                      const fileInput =
                        document.getElementById("dropzone-file");
                      const fileName = fileInput.files[0];
                      console.log("Selected file name:", fileName);
                      if (!fileName) {
                        console.error("No file selected.");
                        return;
                      }
                      isLoading = true;
                      updateLoadingMessage();
                      const formData = new FormData();
                      formData.append("file", fileName);
                      const userId = localStorage.getItem("userId");

                      console.log(`userId is ${userId}`);
                      formData.append("userId", userId);
                      console.log(formData, "data value");
                      fetch("http://localhost:3000/projects/postProjectData", {
                        method: "POST",
                        body: formData,
                      })
                        .then((response) => {
                          if (!response.ok) {
                            throw new Error("Network response was not ok");
                          }
                          return response.json();
                        })
                        .then((data) => {
                          console.log("Files uploaded:", data);
                          localStorage.setItem(
                            "datasetId",
                            `${data.data.insertedId}`
                          );
                          isLoading = false;
                          updateLoadingMessage();
                          window.location.href = "/trainModels";
                          // window.alert("uploaded successfully")
                        })
                        .catch((error) => {
                          console.error("Error uploading files:", error);
                          isLoading = false;
                          updateLoadingMessage();
                        });
                    }

                    function updateLoadingMessage() {
                      const loadingMessage =
                        document.getElementById("loadingMessage");
                      if (isLoading) {
                        loadingMessage.style.display = "block";
                      } else {
                        loadingMessage.style.display = "none";
                      }
                    }
                  </script>
                </div>

                <script>
                  const dropZone = document.querySelector(".drag-drop-div");

                  dropZone.addEventListener("dragover", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                  });

                  dropZone.addEventListener("drop", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    // Handle the drop event here, if necessary
                  });
                </script>

                <div></div>
              </div>
              <div class="grid gap-6 mt-8">
                <div class="col-span-12 lg:col-span-3 2xl:col-span-2">
                  <h2
                    style="color: black"
                    class="intro-y text-lg font-medium mr-auto mt-2"
                  >
                    Uploaded Datasets
                  </h2>
                  <!-- BEGIN: File Manager Menu -->
                  <!-- <div class="intro-y box p-5 mt-6">
                                    <div class="mt-1">
                                        <a href="" class="flex items-center px-3 py-2 rounded-md bg-primary text-white font-medium"> <i class="w-4 h-4 mr-2" data-lucide="image"></i> Images </a>
                                        <a href="" class="flex items-center px-3 py-2 mt-2 rounded-md"> <i class="w-4 h-4 mr-2" data-lucide="video"></i> Videos </a>
                                        <a href="" class="flex items-center px-3 py-2 mt-2 rounded-md"> <i class="w-4 h-4 mr-2" data-lucide="file"></i> Documents </a>
                                        <a href="" class="flex items-center px-3 py-2 mt-2 rounded-md"> <i class="w-4 h-4 mr-2" data-lucide="users"></i> Shared </a>
                                        <a href="" class="flex items-center px-3 py-2 mt-2 rounded-md"> <i class="w-4 h-4 mr-2" data-lucide="trash"></i> Trash </a>
                                    </div>
                                    <div class="border-t border-slate-200 dark:border-darkmode-400 mt-4 pt-4">
                                        <a href="" class="flex items-center px-3 py-2 rounded-md">
                                            <div class="w-2 h-2 bg-pending rounded-full mr-3"></div>
                                            Custom Work 
                                        </a>
                                        <a href="" class="flex items-center px-3 py-2 mt-2 rounded-md">
                                            <div class="w-2 h-2 bg-success rounded-full mr-3"></div>
                                            Important Meetings 
                                        </a>
                                        <a href="" class="flex items-center px-3 py-2 mt-2 rounded-md">
                                            <div class="w-2 h-2 bg-warning rounded-full mr-3"></div>
                                            Work 
                                        </a>
                                        <a href="" class="flex items-center px-3 py-2 mt-2 rounded-md">
                                            <div class="w-2 h-2 bg-pending rounded-full mr-3"></div>
                                            Design 
                                        </a>
                                        <a href="" class="flex items-center px-3 py-2 mt-2 rounded-md">
                                            <div class="w-2 h-2 bg-danger rounded-full mr-3"></div>
                                            Next Week 
                                        </a>
                                        <a href="" class="flex items-center px-3 py-2 mt-2 rounded-md"> <i class="w-4 h-4 mr-2" data-lucide="plus"></i> Add New Label </a>
                                    </div>
                                </div> -->
                  <!-- END: File Manager Menu -->
                </div>
                <div class="col-span-12 lg:col-span-9 2xl:col-span-10">
                  <!-- BEGIN: File Manager Filter -->
                  <div
                    class="intro-y flex flex-col-reverse sm:flex-row items-center"
                  >
                    <div class="w-full sm:w-auto relative mr-auto mt-3 sm:mt-0">
                      <!-- <i class="w-4 h-4 absolute my-auto inset-y-0 ml-3 left-0 z-10 text-slate-500"
                                            data-lucide="search"></i>
                                        <input type="text" class="form-control w-full sm:w-64 box px-10 text-slate-800"
                                            placeholder="Search files"> -->
                      <!-- <div class="inbox-filter dropdown absolute inset-y-0 mr-3 right-0 flex items-center"
                                            data-tw-placement="bottom-start">
                                            <i class="dropdown-toggle w-4 h-4 cursor-pointer text-slate-500"
                                                role="button" aria-expanded="false" data-tw-toggle="dropdown"
                                                data-lucide="chevron-down"></i>
                                            <div class="inbox-filter__dropdown-menu dropdown-menu pt-2">
                                                <div class="dropdown-content">
                                                    <div class="grid grid-cols-12 gap-4 gap-y-3 p-3">
                                                        <div class="col-span-6">
                                                            <label for="input-filter-1" class="form-label text-xs">File
                                                                Name</label>
                                                            <input id="input-filter-1" type="text"
                                                                class="form-control flex-1"
                                                                placeholder="Type the file name">
                                                        </div>
                                                        <div class="col-span-6">
                                                            <label for="input-filter-2"
                                                                class="form-label text-xs">Shared With</label>
                                                            <input id="input-filter-2" type="text"
                                                                class="form-control flex-1"
                                                                placeholder="example@gmail.com">
                                                        </div>
                                                        <div class="col-span-6">
                                                            <label for="input-filter-3"
                                                                class="form-label text-xs">Created At</label>
                                                            <input id="input-filter-3" type="text"
                                                                class="form-control flex-1"
                                                                placeholder="Important Meeting">
                                                        </div>
                                                        <div class="col-span-6">
                                                            <label for="input-filter-4"
                                                                class="form-label text-xs">Size</label>
                                                            <select id="input-filter-4" class="form-select flex-1">
                                                                <option>10</option>
                                                                <option>25</option>
                                                                <option>35</option>
                                                                <option>50</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-span-12 flex items-center mt-3">
                                                            <button class="btn btn-secondary w-32 ml-auto">Create
                                                                Filter</button>
                                                            <button class="btn btn-primary w-32 ml-2">Search</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                    </div>
                    <!-- <div class="w-full sm:w-auto flex">
                                        <button class="btn btn-primary shadow-md mr-2">Upload New Files</button>
                                        <div class="dropdown">
                                            <button class="dropdown-toggle btn px-2 box" aria-expanded="false"
                                                data-tw-toggle="dropdown">
                                                <span class="w-5 h-5 flex items-center justify-center"> <i
                                                        class="w-4 h-4" data-lucide="plus"></i> </span>
                                            </button>
                                            <div class="dropdown-menu w-40">
                                                <ul class="dropdown-content">
                                                    <li>
                                                        <a href="" class="dropdown-item"> <i data-lucide="file"
                                                                class="w-4 h-4 mr-2"></i> Share Files </a>
                                                    </li>
                                                    <li>
                                                        <a href="" class="dropdown-item"> <i data-lucide="settings"
                                                                class="w-4 h-4 mr-2"></i> Settings </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> -->
                  </div>
                  <!-- END: File Manager Filter -->
                  <!-- BEGIN: Directory & Files -->
                  <div
                    class="intro-y grid grid-cols-12 gap-3 sm:gap-6 mt-5"
                  ></div>
                  <!-- END: Directory & Files -->
                  <!-- BEGIN: Pagination -->
                  <!-- <div class="intro-y flex flex-wrap sm:flex-row sm:flex-nowrap items-center mt-6">
                                    <nav class="w-full sm:w-auto sm:mr-auto">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevrons-left"></i> </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevron-left"></i> </a>
                                            </li>
                                            <li class="page-item"> <a class="page-link" href="#">...</a> </li>
                                            <li class="page-item"> <a class="page-link" href="#">1</a> </li>
                                            <li class="page-item active"> <a class="page-link" href="#">2</a> </li>
                                            <li class="page-item"> <a class="page-link" href="#">3</a> </li>
                                            <li class="page-item"> <a class="page-link" href="#">...</a> </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevron-right"></i> </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"> <i class="w-4 h-4" data-lucide="chevrons-right"></i> </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <select class="w-20 form-select box mt-3 sm:mt-0">
                                        <option>10</option>
                                        <option>25</option>
                                        <option>35</option>
                                        <option>50</option>
                                    </select>
                                </div> -->
                  <!-- END: Pagination -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END: Content -->
      </div>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          // Assuming you have the user ID stored somewhere, like localStorage
          const userId = localStorage.getItem("userId");
          const authToken = localStorage.getItem("signInToken");

          const apiUrl = `http://localhost:3000/projects/getDatasets/${userId}`;

          fetch(apiUrl, {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
              authorization: authToken,
            },
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error(
                  "Network response was not ok " + response.statusText
                );
              }
              return response.json();
            })
            .then((data) => {
              const datasets = data.result.datasets; // Adjusted according to your API response
              console.log(datasets, "new value");
              updateDatasetsList(datasets);
            })
            .catch((error) => {
              console.error("There was an error fetching the datasets:", error);
            });

          function updateDatasetsList(datasets) {
            const container = document.querySelector(".intro-y.grid"); // Adjust the selector to your grid container
            container.innerHTML = ""; // Clear the container
            window.showAlert = function (datasetId) {
              console.log("Project ID: " + datasetId);
              localStorage.setItem("datasetId", `${datasetId}`);
              window.location.href = `/trainModels?datasetId=${datasetId}`;
            };
            // Loop through the datasets and create the HTML for each dataset
            datasets.forEach((dataset) => {
              const datasetHtml = `
                <div  class="intro-y col-span-6 sm:col-span-4 md:col-span-3 2xl:col-span-2">
                    <div onclick="showAlert('${dataset._id}')" class="file box rounded-md px-5 pt-8 pb-5 px-3 sm:px-5 relative zoom-in">
                        <a href="#" class="w-3/5 file__icon file__icon--directory mx-auto"></a>
                        <a href="#" class="block font-medium mt-4 text-center truncate text-slate-800">${dataset.name}</a>
                        <div class="text-slate-600 text-xs text-center mt-0.5">800 kb</div>
                        <input type="hidden" value=${dataset._id}}>
                    </div>
                </div>
            `;
              container.insertAdjacentHTML("beforeend", datasetHtml); // Insert the dataset HTML into the container
            });
          }
        });
      </script>

      <!-- BEGIN: JS Assets-->
      <script
            src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=[" your-google-map-api"]&libraries=places"></script>
        <script src="dist/js/app.js"></script>
      <!-- END: JS Assets-->
  </body>
</html>
