<!DOCTYPE html>
<!--
Template Name: Tinker - HTML Admin Dashboard Template
Author: Left4code
Website: http://www.left4code.com/
Contact: muhammadrizki@left4code.com
Purchase: https://themeforest.net/user/left4code/portfolio
Renew Support: https://themeforest.net/user/left4code/portfolio
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en" class="dark">
<!-- BEGIN: Head -->

<head>
  <meta charset="utf-8">
  <link href="dist/images/logo.svg" rel="shortcut icon">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Tinker admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
  <meta name="keywords"
    content="admin template, Tinker Admin Template, dashboard template, flat admin template, responsive admin template, web app">
  <meta name="author" content="LEFT4CODE">
  <title>Research Dv</title>
  <!-- BEGIN: CSS Assets-->
  <link rel="stylesheet" href="dist/css/app.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<style>
  body {
    font-family: 'circular';
  }

  .selected {
    border-color: purple;
    border: 2px solid purple
  }

  .project {
    background-color: #01b1e9;
    margin-top: 35px;
  }

  .project:hover {
    background-color: #1a96bd;
  }

  .project-item {
    width: 26%;
    background: #f3f4f6;
    cursor: pointer;
    border-radius: 2%;
    padding: 10px;
  }

  .project-item:hover {
    background: #e5e7eb
  }

  #models,
  #datasets {
    background-color: rgb(216, 225, 247);
  }

  select::-webkit-scrollbar {
    width: 12px;

  }

  select::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  select::-webkit-scrollbar-thumb:hover {
    background: rgb(115 131 170);
  }

  .bg-gray-50:hover {
    background-color: #f8fafc;
  }
</style>

<body class="py-5 md:py-0 bg-black/[0.15] dark:bg-transparent">
  <!-- BEGIN: Mobile Menu -->
  <div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
      <a href="" class="flex mr-auto">
        <img alt="Midone - HTML Admin Template" class="w-6" src="dist/images/logo.svg">
      </a>
      <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="bar-chart-2"
          class="w-8 h-8 text-white transform -rotate-90"></i> </a>
    </div>
    <div class="scrollable">
      <a href="javascript:;" class="mobile-menu-toggler"> <i data-lucide="x-circle"
          class="w-8 h-8 text-white transform -rotate-90"></i> </a>
      <ul class="scrollable__content py-2">
        <li>
          <a href="/dashboard" class="menu menu--active">
            <div class="menu__icon"> <i data-lucide="home"></i> </div>
            <div class="menu__title"> Dashboard <i data-lucide="chevron-down"
                class="menu__sub-icon transform rotate-180"></i> </div>
          </a>
          <ul class="menu__sub-open">
            <li>
              <a href="side-menu-dark-dashboard-overview-1.html" class="menu">
                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                <div class="menu__title"> Overview 1 </div>
              </a>
            </li>
            <li>
              <a href="side-menu-dark-dashboard-overview-2.html" class="menu menu--active">
                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                <div class="menu__title"> Overview 2 </div>
              </a>
            </li>
            <li>
              <a href="side-menu-dark-dashboard-overview-3.html" class="menu">
                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                <div class="menu__title"> Overview 3 </div>
              </a>
            </li>
            <li>
              <a href="side-menu-dark-dashboard-overview-4.html" class="menu">
                <div class="menu__icon"> <i data-lucide="activity"></i> </div>
                <div class="menu__title"> Overview 4 </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- END: Mobile Menu -->
  <div class="flex mt-[4.7rem] md:mt-0 overflow-hidden">
    <!-- BEGIN: Side Menu -->
    <%- include('./components/navBar') %>
      <!-- END: Side Menu -->
      <!-- BEGIN: Content -->
      <div style="background: #f1f5f9;" class="content">
        <!-- BEGIN: Top Bar -->
        <div class="top-bar -mx-4 px-4 md:mx-0 md:px-0">
          <!-- BEGIN: Breadcrumb -->
          <nav style="font-size: 26px;color: white;" aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">

          </nav>
          <%- include('./components/accounts') %>

        </div>
        <!-- END: Top Bar -->
        <div class="">
          <div class="col-span-12 2xl:col-span-9">
            <div class="grid ">
              <!-- BEGIN: Notification -->

              <!-- BEGIN: Notification -->
              <!-- BEGIN: General Report -->
              <div class="col-span-12 lg:col-span-8 xl:col-span-6 mt-2">
                <div class="intro-y block items-center h-10">
                  <!-- <header class="bg-gray-800 flex justify-between items-center p-4">
                                <h1 class="text-white text-3xl font-bold">AI MultiModel</h1>
                                <a href="/">
                                <p class="text-white text-2xl cursor-pointer">Logout</p>
                              </a>
                              </header> -->

                  <form class="w-11/12 flex gap-6 mt-10 items-center justify-center">
                    <div class="w-96">
                      <label for="models" class="block mb-2 text-lg font-medium text-slate-800">Choose
                        Model</label>
                      <select id="models"
                        class="bg-gray-50  border border-gray-300 text-slate-800 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option selected>Choose from the list</option>
                        <option value="AlexNet">AlexNet</option>
                        <option value="VGG-11">VGG-11</option>
                        <option value="VGG-13">VGG-13</option>
                        <option value="VGG-16">VGG-16</option>
                        <option value="VGG-19">VGG-19</option>
                        <option value="ResNet-18">ResNet-18</option>
                        <option value="ResNet-34">ResNet-34</option>
                        <option value="ResNet-50">ResNet-50</option>
                        <option value="ResNet-101">ResNet-101</option>
                        <option value="ResNet-152">ResNet-152</option>
                        <option value="SqueezeNet 1.0">SqueezeNet 1.0</option>
                        <option value="SqueezeNet 1.1">SqueezeNet 1.1</option>
                        <option value="Densenet-121">Densenet-121</option>
                        <option value="Densenet-169">Densenet-169</option>
                        <option value="Densenet-201">Densenet-201</option>
                        <option value="Densenet-161">Densenet-161</option>
                        <option value="Inception v3">Inception v3</option>
                        <option value="GoogleNet">GoogleNet</option>
                        <option value="ShuffleNet V2 x1.0">ShuffleNet V2 x1.0</option>
                        <option value="ShuffleNet V2 x0.5">ShuffleNet V2 x0.5</option>
                        <option value="MobileNet V2">MobileNet V2</option>
                        <option value="MobileNet V3 Large">MobileNet V3 Large</option>
                        <option value="MobileNet V3 Small">MobileNet V3 Small</option>
                        <option value="ResNeXt-50-32x4d">ResNeXt-50-32x4d</option>
                        <option value="ResNeXt-101-32x8d">ResNeXt-101-32x8d</option>
                        <option value="Wide ResNet-50-2">Wide ResNet-50-2</option>
                        <option value="Wide ResNet-101-2">Wide ResNet-101-2</option>
                        <option value="MNASNet 1.0">MNASNet 1.0</option>
                        <option value="MNASNet 0.5">MNASNet 0.5</option>
                      </select>
                    </div>

                    <!-- <div class="w-96">
                                        <label for="datasets"
                                            class="block mb-2 text-lg font-medium text-slate-800">Choose
                                            Dataset</label>
                                        <select id="datasets"
                                            class="bg-gray-50 border border-gray-300 text-slate-800 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                            <option selected>Choose from the list</option>
                                            <option value="US">Soil Type</option>
                                            <option value="CA">Motion Detection</option>
                                            <option value="FR">Face Detection</option>
                                        </select>
                                    </div> -->

                    <button id="create-project" class="project px-4 py-2.5 text-white rounded"
                      onclick="trainModel()">Train
                      Model</button>
                  </div>
                 
                  <div class="text-center" id="alert-container"></div>

                  <div class=" mx-auto py-8">
                    <div class="flex justify-center">
                      <div style="width: -webkit-fill-available;margin-top: 90px;"
                        class="block rounded-lg shadow-lg font-bold bg-white ">
                        <div class="py-3 px-6 border-b border-gray-300 text-xl text-black text-center">
                          Classification Report
                        </div>
                        <table class="min-w-full leading-normal">
                          <thead>
                            <tr>
                              <th
                                class="px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Class
                              </th>
                              <th
                                class="px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Precision
                              </th>
                              <th
                                class="px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Recall
                              </th>
                              <th
                                class="px-5 py-3 border-b-2 !border-gray-300 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                F1-score
                              </th>
                              <th
                                class="px-5 py-3 border-b-2 border-gray-300 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                Support
                              </th>
                            </tr>
                          </thead>
                          <tbody style="color: black;">
                            <tr>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.00</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.00</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.00</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">4</td>
                            </tr>
                            <!-- Repeat for other rows -->
                            <tr>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">1</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.00</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.00</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.00</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">4</td>
                            </tr>
                            <tr>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">2</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.00</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.00</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.00</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">4</td>
                            </tr>
                            <!-- ... other rows ... -->
                            <tr>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">3</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.25</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">1.00</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.40</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">4</td>
                            </tr>
                            <tr>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">Accuracy</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">-</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">-</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.25</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">16</td>
                            </tr>
                            <tr>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">Macro avg</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.06</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.25</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.10</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">16</td>
                            </tr>
                            <tr>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">Weighted avg</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.06</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.25</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">0.10</td>
                              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">16</td>
                            </tr>
                            <!-- <tr>
                                              <td class="px-5 py-5 bg-white text-sm" colspan="5">
                                                <strong>accuracy</strong> 0.25
                                              </td>
                                            </tr>
                                            <tr>
                                              <td class="px-5 py-5 bg-white text-sm" colspan="5">
                                                <strong>macro avg</strong> 0.06 0.25 0.10 16
                                              </td>
                                            </tr>
                                            <tr>
                                              <td class="px-5 py-5 bg-white text-sm" colspan="5">
                                                <strong>weighted avg</strong> 0.06 0.25 0.10 16
                                              </td>
                                            </tr> -->
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-row justify-center items-center space-x-4">
                    <!-- First Graph Container -->
                    <div class="w-1/2">
                      <canvas class="bg-white" id="rocChart1"></canvas>
                    </div>

                    <!-- Second Graph Container -->
                    <div class="w-1/2">
                      <canvas class="bg-white" id="rocChart2"></canvas>
                    </div>
                  </div>
                  <img style="margin-top: 60px;
                                width: 40%;
                                padding-bottom: 40px;
                                justify-content: center;
                                display: flex;
                                align-items: center;
                                margin-left: auto;
                                margin-right: auto;" src="images/confusion.png" alt="">

                  </main>
                  <!-- <div class="flex justify-center">
                                <a href="./createProject.html">
                                <button id="create-project" class="project px-4 py-2 text-white rounded">Create New Project</button>
                                
                              </a> -->
                </div>


                <script>
                  function trainModel() {
                    console.log("called")
                    const modelName = document.getElementById('models').value;
                    console.log('Selected modelName:', modelName);
                    if (!modelName) {
                      console.error('No mddel selected.');
                      return;
                    }

                    const userId = localStorage.getItem('userId');
                    const projectId = localStorage.getItem('currentProjectId');
                    const datasetId = localStorage.getItem('datasetId');

                    // const formData = new FormData();
                    const formData = {
                      userId: userId,
                      projectId: projectId,
                      datasetId: datasetId,
                      modelName: modelName
                    }
                    // formData.append('userId', userId);
                    // formData.append('projectId', "123");
                    // formData.append('datasetId', datasetId);
                    // formData.append('modelName', modelName);


                    console.log(formData, "data value");
                    fetch('http://localhost:3000/projects/postTrainModel', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json'  // Add this line
                      },
                      body: JSON.stringify(formData)
                    })
                      .then(response => {
                        if (!response.ok) {
                          throw new Error('Network response was not ok');
                        }
                        return response.json();

                      })
                      .then(data => {
                        console.log('Model training request submitted successfully:', data);
                        document.getElementById('alert-container').innerHTML = `
                        <div style="    width: fit-content;
                                    text-align: center;
                                    /* display: flex; */
                                    align-items: center;
                                    margin: auto;
                                    margin-top: 70px;"
                    class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
                    role="alert">
                    <svg style="width: 33px;" class="flex-shrink-0 inline me-3" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="sr-only">Info</span>
                    <div style="margin-left: 10px;font-size: 35px;">
                      Train model request has been submitted successfully!
                      <br>
                      <br>
                      <p style="font-size: 20px;margin-left: 6px;" class="text-left">Please wait for results</p>
                    </div>
                  </div>`;
                        // window.location.href = '/trainModels';
                        // window.alert("uploaded successfully")
                      })
                      .catch(error => {
                        console.error('Error uploading files:', error);
                      });
                  }

                </script>
              </div>


              <!-- END: General Report -->
              <!-- BEGIN: Visitors -->

              <!-- END: Users By Age -->
              <!-- BEGIN: Official Store -->

              <!-- END: Official Store -->
              <!-- BEGIN: Weekly Best Sellers -->

              <!-- END: Weekly Best Sellers -->
              <!-- BEGIN: Ads 1 -->

              <!-- END: Ads 1 -->
              <!-- BEGIN: Ads 2 -->

              <!-- END: Ads 2 -->
              <!-- BEGIN: Weekly Top Products -->

              <!-- END: Weekly Top Products -->
            </div>
          </div>

        </div>
      </div>
      <!-- END: Content -->
  </div>



  <script>
    // Define data for the first chart
    var data1 = {
      labels: [0, 0.2, 0.4, 0.6, 0.8, 1],
      datasets: [{
        label: 'Class 0 (AUC = 0.50)',
        data: [0, 0.2, 0.4, 0.6, 0.8, 1],
        borderColor: 'rgba(255, 99, 132, 1)',
        fill: false
      }]
    };

    // Define data for the second chart
    var data2 = {
      labels: [0, 0.2, 0.4, 0.6, 0.8, 1],
      datasets: [{
        label: 'Class 1 (AUC = 0.50)',
        data: [0, 0.2, 0.4, 0.6, 0.8, 1],
        borderColor: 'rgba(54, 162, 235, 1)',
        fill: false
      }]
    };

    // Chart options (can be reused or customized for each chart)
    var options = {
      scales: {
        x: {
          title: {
            display: true,
            text: 'False Positive Rate'
          }
        },
        y: {
          title: {
            display: true,
            text: 'True Positive Rate'
          }
        }
      },
      elements: {
        line: {
          tension: 0 // Disables bezier curves
        }
      }
    };

    // Initialize the first chart
    var ctx1 = document.getElementById('rocChart1').getContext('2d');
    var rocChart1 = new Chart(ctx1, {
      type: 'line',
      data: data1,
      options: options
    });

    // Initialize the second chart
    var ctx2 = document.getElementById('rocChart2').getContext('2d');
    var rocChart2 = new Chart(ctx2, {
      type: 'line',
      data: data2,
      options: options
    });
  </script>






  <!-- BEGIN: JS Assets-->
  <script
    src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=[" your-google-map-api"]&libraries=places"></script>
  <script src="dist/js/app.js"></script>
  <!-- END: JS Assets-->
</body>

</html>